**
!docker/
!docker/**
!ground/
!ground/src/
!ground/src/spar_ground/
!ground/src/spar_ground/package.xml
!air/
!air/src/
!air/src/spar_air/
!air/src/spar_air/package.xml
!common/
!common/src/
!common/src/spar_perception/
!common/src/spar_perception/package.xml
